# Database Configuration
JDBC_DATABASE_HOST=sql-server
JDBC_DATABASE_USERNAME=sa
JDBC_DATABASE_PASSWORD=StrongPassword123!
JDBC_DATABASE_DB=scl_dev

# Application Configuration
BASE_HOST=http://localhost:8080
REMEMBER_ME_KEY=427E316F34

# SMTP Configuration
SMTP_HOST=mail-server
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=1025
SMTP_MAIL_FROM=scl@ampliar.dev.br

# LDAP Configuration
SPRING_LDAP_URLS=ldap://ldap-server:389
SPRING_LDAP_BASE=dc=ampliar,dc=dev,dc=br
SPRING_LDAP_USERNAME=cn=admin,dc=ampliar,dc=dev,dc=br
SPRING_LDAP_PASSWORD=StrongAdminPassword123!
LDAP_ADMIN_PASSWORD=StrongAdminPassword123!
LDAP_USER1_PASSWORD=StrongUser1Password123!
LDAP_USER2_PASSWORD=StrongUser2Password123!