# Database Configuration
JDBC_DATABASE_HOST=sql-server
JDBC_DATABASE_USERNAME=sa
JDBC_DATABASE_PASSWORD=StrongPassword123!
JDBC_DATABASE_DB=scl_dev

# Application Configuration
BASE_HOST=http://localhost:8080
REMEMBER_ME_KEY=427E316F34

# SMTP Configuration
SMTP_HOST=mail-server
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_PORT=1025
SMTP_MAIL_FROM=scl@ampliar.dev.br

# LDAP Configuration
SPRING_LDAP_URLS=ldap://ldap.ampliar.dev.br:389
SPRING_LDAP_BASE=dc=ampliar,dc=dev,dc=br