<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Edit Document Type</title>
</head>
<body>
    <!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->
    <div layout:fragment="content">
        <div th:replace="~{fragments/header :: header('edit', 'Edit Document Type', 'documentTypeForm', @{/documentTypes})}"></div>
        <div th:replace="~{fragments/form-utils::globalErrors('documentType')}"></div>
        <form th:action="${requestUri}" method="post" id="documentTypeForm">
            <th:block th:replace="~{documentType/_form :: documentTypeForm('edit', ${documentType})}"></th:block>
        </form>
    </div>
</body>
</html>
