<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>View Document Type</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="~{fragments/header :: header('view', 'View Document Type', 'documentTypeForm', @{/documentTypes})}"></div>
        <th:block th:replace="~{documentType/_form :: documentTypeForm('view', ${documentType})}"></th:block>
    </div>
</body>
</html>
