<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{fxSettlement.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{fxSettlement.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/fxSettlements}" class="btn btn-secondary">[[#{fxSettlement.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('fxSettlement')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='comments')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='failureMotive', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='failureDetails')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='completedAt', required=true, inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='steps', type='multiselect')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='trade', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='fxSettlement', field='completedBy', type='select')}" />
                <input type="submit" th:value="#{fxSettlement.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
