<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{fxSettlement.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{fxSettlement.list.headline}]]</h1>
                <div>
                    <a th:href="@{/fxSettlements/add}" class="btn btn-primary ms-2">[[#{fxSettlement.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${!fxSettlements.empty || filter != null}" class="row">
                <div th:replace="~{fragments/utils::searchFilter(object='fxSettlement')}" />
                <div th:replace="~{fragments/utils::sorting(object='fxSettlement', sortOptions=${ {'id,ASC', 'comments,ASC', 'failureMotive,ASC'} }, columnClass='offset-lg-4')}" />
            </div>
            <div th:if="${fxSettlements.empty}">[[#{fxSettlement.list.empty}]]</div>
            <div th:if="${!fxSettlements.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{fxSettlement.id.label}]]</th>
                            <th scope="col">[[#{fxSettlement.comments.label}]]</th>
                            <th scope="col">[[#{fxSettlement.failureMotive.label}]]</th>
                            <th scope="col">[[#{fxSettlement.failureDetails.label}]]</th>
                            <th scope="col">[[#{fxSettlement.completedAt.label}]]</th>
                            <th scope="col">[[#{fxSettlement.trade.label}]]</th>
                            <th scope="col">[[#{fxSettlement.completedBy.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="fxSettlement : ${fxSettlements}">
                            <td>[[${fxSettlement.id}]]</td>
                            <td>[[${fxSettlement.comments}]]</td>
                            <td>[[${fxSettlement.failureMotive}]]</td>
                            <td>[[${fxSettlement.failureDetails}]]</td>
                            <td>[[${fxSettlement.completedAt}]]</td>
                            <td>[[${fxSettlement.trade}]]</td>
                            <td>[[${fxSettlement.completedBy}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/fxSettlements/edit/{id}(id=${fxSettlement.id})}" class="btn btn-sm btn-secondary">[[#{fxSettlement.list.edit}]]</a>
                                    <form th:action="@{/fxSettlements/delete/{id}(id=${fxSettlement.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{fxSettlement.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="~{fragments/utils::pagination()}" />
        </div>
    </body>
</html>
