<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>User Form</title>
</head>
<body>
    <!--/*@thymesVar id="mode" type="java.lang.String"*/-->
    <!--/*@thymesVar id="user" type="ludo.mentis.aciem.scl.model.UserDTO"*/-->
    <!--/*@thymesVar id="genderValues" type="ludo.mentis.aciem.scl.model.Gender[]"*/-->
    <!--/*@thymesVar id="departmentValues" type="java.util.Map"*/-->
    <!--/*@thymesVar id="rolesValues" type="java.util.Map"*/-->
    <th:block th:fragment="userForm(mode, user, genderValues, departmentValues, rolesValues)" th:object="${user}">
        <div class="card shadow mb-3">
            <div class="card-header">
                Details
            </div>
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-4">
                        <label for="cboDepartment" class="form-label">Department*</label>
                        <select id="cboDepartment"
                                class="form-select"
                                th:field="*{departmentId}"
                                th:disabled="${mode == 'view'}"
                                th:classappend="${#fields.hasErrors('departmentId') ? 'is-invalid' : ''}">
                            <option value="">Please select</option>
                            <option th:each="optionValue : ${departmentValues}" th:value="${optionValue.key}">[[${optionValue.value}]]</option>
                        </select>
                        <div th:if="${#fields.hasErrors('departmentId')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('departmentId')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="txtUsername" class="form-label">Username*</label>
                        <input type="text"
                               id="txtUsername"
                               class="form-control"
                               th:field="*{username}"
                               th:disabled="${mode == 'view'}"
                               th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}" />
                        <div th:if="${#fields.hasErrors('username')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('username')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="cboUseAD" class="form-label">Use AD?*</label>
                        <select id="cboUseAD"
                                class="form-select"
                                th:field="*{useAD}"
                                th:disabled="${mode == 'view'}"
                                th:classappend="${#fields.hasErrors('useAD') ? 'is-invalid' : ''}">
                            <option value="">Please select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <div th:if="${#fields.hasErrors('useAD')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('useAD')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                    <div class="col-md-2" th:if="${mode != 'view'}">
                        <label for="txtPassword" class="form-label">Password<th:block th:if="${mode == 'add'}">*</th:block></label>
                        <input type="password"
                               id="txtPassword"
                               class="form-control"
                               th:field="*{password}"
                               th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" />
                        <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('password')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label for="txtName" class="form-label">Name*</label>
                        <input type="text"
                               id="txtName"
                               class="form-control"
                               th:field="*{name}"
                               th:disabled="${mode == 'view'}"
                               th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" />
                        <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('name')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="txtEmail" class="form-label">E-mail*</label>
                        <input type="email"
                               id="txtEmail"
                               class="form-control"
                               th:field="*{email}"
                               th:disabled="${mode == 'view'}"
                               th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" />
                        <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('email')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="cboGender" class="form-label">Gender*</label>
                        <select id="cboGender"
                                class="form-select"
                                th:field="*{gender}"
                                th:disabled="${mode == 'view'}"
                                th:classappend="${#fields.hasErrors('gender') ? 'is-invalid' : ''}">
                            <option value="">Please select</option>
                            <option th:each="optionValue : ${genderValues}" th:value="${optionValue}">[[${optionValue}]]</option>
                        </select>
                        <div th:if="${#fields.hasErrors('gender')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('gender')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <label for="cboEnabled" class="form-label">Enabled?*</label>
                        <select id="cboEnabled"
                                class="form-select"
                                th:field="*{enabled}"
                                th:disabled="${mode == 'view'}"
                                th:classappend="${#fields.hasErrors('enabled') ? 'is-invalid' : ''}">
                            <option value="">Please select</option>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                        <div th:if="${#fields.hasErrors('enabled')}" class="invalid-feedback d-block">
                            <p th:each="error : ${#fields.errors('enabled')}" class="mb-0">[[${error}]]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-3">
            <div class="card-header">
                Roles
            </div>
            <div class="card-body p-0">
                <select id="cboRoles"
                        multiple="multiple"
                        class="form-select border-0"
                        th:field="*{roles}"
                        th:disabled="${mode == 'view'}"
                        th:classappend="${#fields.hasErrors('roles') ? 'is-invalid' : ''}">
                    <option th:each="optionValue : ${rolesValues}" th:value="${optionValue.key}">[[${optionValue.value}]]</option>
                </select>
                <div th:if="${#fields.hasErrors('roles')}" class="invalid-feedback d-block">
                    <p th:each="error : ${#fields.errors('roles')}" class="mb-0">[[${error}]]</p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-3" th:if="${mode != 'add'}">
            <div class="card-header">
                Audit
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <label for="txtId" class="form-label">Id</label>
                        <input type="number" id="txtId" th:field="*{id}" disabled="disabled" class="form-control" />
                    </div>
                    <div class="col-md-5">
                        <label for="txtCreatedAt" class="form-label">Input Date</label>
                        <input type="text" id="txtCreatedAt" disabled="disabled" class="form-control" th:value="${#temporals.format(user.createdAt, 'dd-MMM-yyyy HH:mm:ss')}"  />
                    </div>
                    <div class="col-md-5">
                        <label for="txtUpdatedAt" class="form-label">Last Update</label>
                        <input type="text" id="txtUpdatedAt" disabled="disabled" class="form-control" th:value="${#temporals.format(user.updatedAt, 'dd-MMM-yyyy HH:mm:ss')}"  />
                    </div>
                </div>
            </div>
        </div>
    </th:block>
</body>
</html>