<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Add User</title>
</head>
<body>
    <!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->
    <div layout:fragment="content">
        <div th:replace="~{fragments/header :: header('add', 'Add User', 'userForm', @{/users})}"></div>
        <div th:replace="~{fragments/form-utils::globalErrors('user')}"></div>
        <form th:action="${requestUri}" method="post" id="userForm">
            <th:block th:replace="~{user/_form :: userForm('add', ${user}, ${genderValues}, ${departmentValues}, ${rolesValues})}"></th:block>
        </form>
    </div>
</body>
</html>
