<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>View User</title>
</head>
<body>
    <div layout:fragment="content">
        <div th:replace="~{fragments/header :: header('view', 'View User', 'userForm', @{/users})}"></div>
        <th:block th:replace="~{user/_form :: userForm('view', ${user}, ${genderValues}, ${departmentValues}, ${rolesValues})}"></th:block>
    </div>
</body>
</html>
