<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page Header</title>
</head>
<body>
    <!--/*@thymesVar id="mode" type="java.lang.String"*/-->
    <!--/*@thymesVar id="headerTitle" type="java.lang.String"*/-->
    <!--/*@thymesVar id="formId" type="java.lang.String"*/-->
    <!--/*@thymesVar id="backLink" type="java.lang.String"*/-->
    <div th:fragment="header(mode, headerTitle, formId, backLink)" class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[${headerTitle}]]</h1>
        <div>
            <a th:href="${backLink}" class="btn btn-secondary"><i class="bi-arrow-left"></i> Back</a>
            <button type="button" class="btn btn-warning" onclick="resetForm(this)" th:data-form-id="${formId}" th:if="${mode != 'view'}">
                <i class="bi-arrow-counterclockwise"></i> Reset
            </button>
            <button type="button" class="btn btn-primary" onclick="submitForm(this)" th:data-form-id="${formId}" th:if="${mode != 'view'}">
                <i class="bi-save"></i> Save
            </button>
        </div>
    </div>
</body>
</html>
