@import url("./layout-header.css");

html {
  /* font-size: 12px; */
}

:root {
  --ios-radius: 22%;
  --app-size: 96px;
}



body {
  background-color: #f8f9fa;
  color: #343d42;
}

a {
  color: #001AFF;
  text-decoration: none;
}

a:hover {
  color: #0e186e;
}

.btn-primary {
  background-color: #001AFF;
  border-color: #001AFF;
}
.btn-primary:hover {
  background-color: #0e186e;
  border-color: #0e186e;
}

.btn-secondary {
  background-color: #CED4DA;
  border-color: #CED4DA;
  color: #0e186e;
}

.btn-secondary:hover {
  background-color: #BDC3C7;
  color: #0e186e;
}

.unset {
    all: unset;
}

input.js-datepicker, input.js-timepicker, input.js-datetimepicker {
    background-color: #fff;
}

.small-dashboard {
  font-size: 9pt;
}

.small-dashboard .datatable-container {
  border-bottom: 0 !important;
}

.small-dashboard .table-hover tbody tr:hover td,
.small-dashboard .table-hover tbody tr:hover th {
  background-color: #e1e1fa;
}

.small-dashboard .datatable-input {
  padding: 1px;
  outline: none;
}

.card-maximize {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1050; /* Acima de outros elementos */
  margin: 0 !important;
  border-radius: 0;
  overflow-y: auto; /* Permite scroll se o conteúdo for longo */
}

/* Main Grid */
.app-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  gap: 40px 20px;
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
}

.app-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform 0.15s ease-in-out;
}

.app-icon-wrapper:hover {
  transform: translateY(-5px);
}

.app-icon-wrapper:active {
  transform: scale(0.92);
}

.app-icon {
  width: var(--app-size);
  height: var(--app-size);
  border-radius: var(--ios-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  margin-bottom: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  border: 1px solid rgba(0,0,0,0.03);
}

.app-label {
  font-size: 14px;
  font-weight: 500;
  color: #444;
  text-align: center;
  line-height: 1.2;
}
