<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">SCL</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet" />
    <link th:href="@{/webjars/flatpickr/dist/flatpickr.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/datatables/css/dataTables.bootstrap5.min.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
    <script th:src="@{/webjars/flatpickr/dist/flatpickr.min.js}" defer></script>
    <script th:src="@{/webjars/datatables/js/dataTables.min.js}" defer></script>
    <script th:src="@{/webjars/datatables/js/dataTables.bootstrap5.min.js}" defer></script>
    <script th:src="@{/js/app.js}" type="module" defer></script>
</head>
<body hx-boost="true">
    <th:block th:replace="~{fragments/layout-header :: layout-header}"></th:block>
    <main class="my-2">
        <div class="container">
            <!--/*@thymesVar id="MSG_SUCCESS" type="java.lang.String"*/-->
            <!--/*@thymesVar id="MSG_INFO" type="java.lang.String"*/-->
            <!--/*@thymesVar id="MSG_ERROR" type="java.lang.String"*/-->
            <p th:if="${MSG_SUCCESS}" class="alert alert-success mb-4" role="alert">[[${MSG_SUCCESS}]]</p>
            <p th:if="${MSG_INFO}" class="alert alert-info mb-4" role="alert">[[${MSG_INFO}]]</p>
            <p th:if="${MSG_ERROR}" class="alert alert-danger mb-4" role="alert">[[${MSG_ERROR}]]</p>
            <div layout:fragment="content"></div>
        </div>
    </main>
</body>
</html>
