body {
  background-color: #f8f9fa;
}

a {
  color: #001AFF;
}

#main-header {
  background-color: #001AFF;
  border-color: #001AFF;
}

#main-header .dropdown-menu {
  background-color: #001AFF;
  border-color: #001AFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#main-header .dropdown-menu a:hover {
  background-color: #0e186e;
}

#main-header a {
  color: #FFFFFF;
}

#main-header input {
  color: #FFFFFF;
}

#navbarEntitiesLink {
    color: #FFFFFF;
}

.btn-primary {
  background-color: #001AFF;
  border-color: #001AFF;
}
.btn-primary:hover {
  background-color: #0e186e;
  border-color: #0e186e;
}

.btn-secondary {
  background-color: #CED4DA;
  border-color: #CED4DA;
  color: #0e186e;
}

.btn-secondary:hover {
  background-color: #BDC3C7;
  color: #0e186e;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 270px);
}
.login-card {
  width: 100%;
  max-width: 400px;
}