<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{home.index.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="app-container">
        <a th:href="@{/departments}" class="app-icon-wrapper">
            <div class="app-icon grad-dept">
                <i class="bi bi-diagram-3"></i>
            </div>
            <span class="app-label">Departments</span>
        </a>

        <a th:href="@{/users}" class="app-icon-wrapper">
            <div class="app-icon">
                <i class="bi bi-people-fill"></i>
            </div>
            <span class="app-label">Users</span>
        </a>

        <a th:href="@{/roles}" class="app-icon-wrapper">
            <div class="app-icon">
                <i class="bi bi-shield-lock"></i>
            </div>
            <span class="app-label">Roles</span>
        </a>

        <a th:href="@{/counterparties}" class="app-icon-wrapper">
            <div class="app-icon">
                <i class="bi bi-building-up"></i>
            </div>
            <span class="app-label">Counterparties</span>
        </a>

        <a th:href="@{/currencies}" class="app-icon-wrapper">
            <div class="app-icon">
                <i class="bi bi-currency-exchange"></i>
            </div>
            <span class="app-label">Currencies</span>
        </a>

        <a th:href="@{/fxTrades}" class="app-icon-wrapper">
            <div class="app-icon">
                <i class="bi bi-graph-up-arrow"></i>
            </div>
            <span class="app-label">Fx Trades</span>
        </a>

        <a th:href="@{/fxSettlements}" class="app-icon-wrapper">
            <div class="app-icon grad-settle">
                <i class="bi bi-check-all"></i>
            </div>
            <span class="app-label">Fx Settlements</span>
        </a>

        <a th:href="@{/documentTypes}" class="app-icon-wrapper">
            <div class="app-icon">
                <i class="bi bi-files"></i>
            </div>
            <span class="app-label">Document Types</span>
        </a>
    </div>
</div>
</body>
</html>
